{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}

{% block metas %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include "tracking.html" %}
  <script>
    $( document ).ready(function(){
      $(".button-collapse").sideNav();

      set_guesses();
      {% for msg in get_flashed_messages() %}
        Materialize.toast('{{msg}}', 4000);
    {% endfor %}
      if(typeof $('input.autocomplete') === "function") {
        $('input.autocomplete').autocomplete({
          data: {
            {% for question in questions %}
              "{{question.question}}": null,
          {% endfor %}
          },
          limit: 20,
          onAutocomplete: function(val) {
            // Callback function when value is autcompleted.
            console.log(val);
          },
        });
      }
    });

function toggle_guesses() {
  localStorage.guesses = (localStorage.guesses == "closed") ?
    "open" : "closed";
}

function set_guesses() {
  if(localStorage.guesses != "closed") {
    $('#guesses_list').click();
  }
}
</script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    body, div{
      flex: 1 0 auto;
    }
    .filled-container {
      padding: 0 !important;
    }
    .filled {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0;
      padding-right: 0;
      white-space: nowrap;
    }
  </style>
{% endblock %}
