{% extends "layout.html" %}
{% block main %}
  <h3 class="center">Is it {{a_an(to_title(guesses[0].name))}}?</h4>
  <div class="collection">
    {% for guess in guesses[:10] %}
      <a class="collection-item" href="{{url_for('feedback', solution=guess.name)}}">
        It was {{a_an(to_title(guess.name))}}
        <i class="material-icons right tooltipped"
          data-position="right"
          data-delay="30"
          data-tooltip="P = {{to_percent(guess.prob)}}"
          >done</i>
      </a>
    {% endfor %}
  </div>
  <div class="row">
    <form class="col s12" action="{{ url_for('feedback') }}" method="post">
      Nope, it was a
      <input type="submit" class="btn right" value="Submit"/>
      <div style="overflow: hidden; padding-right: .5em;">
        <input placeholder="Your animal" name="solution" type="text" class="validate"/>
      </div>
    </form>
  </div>
{% endblock %}
