{% extends "layout.html" %}
{% block main %}
  <h3 class="center">Is it {{a_an(guesses[0][0])}}?</h4>
  <div class="collection">
    {% for (guess, prob) in guesses %}
      <a class="collection-item" href="{{url_for('feedback', solution=guess)}}">
          It was {{a_an(guess)}}
          <i class="material-icons right tooltipped"
            data-position="right"
            data-delay="30"
            data-tooltip="P = {{prob}}"
            >done</i>
        </a>
    {% endfor %}
  </div>
{% endblock %}
