{% extends "config.html" %}
{% from "macros.html" import input, a_an, plural, to_title, title_txt, nav_link, to_percent with context %}
{% include "navbar.html" %}

{% block title %}
20 Questions
{% endblock %}

{% block content %}
  <div class="container">
    <div>
      {% for msg in get_flashed_messages() %}
        <div class="card">
          <div class="container">
            {{msg}}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="card">
      <div class="container">
        {% block main %}
          Loading...
        {% endblock %}
      </div>
    </div>
  </div>
{% include "footer.html" %}
{% endblock %}
