{% macro title_txt(text) -%}
{{ text.upper().replace('_', ' ') }}
{%- endmacro %}

{% macro plural(num, word) -%}
{% if num == 1 %}{{word}}{% else %}{{word}}s{% endif %}
{%- endmacro %}

{% macro a_an(text) -%}
{% if text != [] and text[0] in 'aeiou' %}an {{text}}{% else %}a {{text}}{% endif %}
{%- endmacro %}

{% macro nav_link(url, label) -%}
<a class="{{colour.nav_text}} breadcrumb" href="{{ url }}">{{ title_txt(label) }}</a>
{%- endmacro %}

{% macro to_percent(real) -%}
{% if real < 0 %}0%
{% elif real > 1 %}100%
{% else %}
  {{ '%0.2f' % (real*100) }}%
{% endif %}
{%- endmacro %}
