{% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}">
{%- endmacro %}

{% macro title_txt(text) -%}
{{ text.upper().replace('_', ' ') }}
{%- endmacro %}

{% macro nav_link(url, label) -%}
<a class="{{colour.nav_text}} breadcrumb" href="{{ url }}">{{ title_txt(label) }}</a>
{%- endmacro %}

{% macro to_percent(real) -%}
{% if real < 0 %}0%
{% elif real > 1 %}100%
{% else %}
  {{ real*100 }}%
{% endif %}
{%- endmacro %}
