{% extends "layout.html" %}
{% block main %}
  <h3 class="center">Question {{question_number}}/20</h4>
  <h4 class="center">{{question}}</h2>
  <div class="collection">
    {% for op in options %}
      <a href="{{ url_for('answer', question=question, answer=op)}}" class="waves-effect collection-item">
        <i class="material-icons right">play_arrow</i>{{op}}
      </a>
    {% endfor %}
  </div>
  <div class="center row">
    <a class="waves-effect btn" href="{{url_for('question', action='back')}}">UNDO</a>
  </div>
  <div class="container">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active">
          <i class="material-icons">help_outline</i>Guesses
        </div>
        <div class="collapsible-body collection">
            {% for guess in guesses[:5] %}
              <div class="collection-item filled-container">
                <div class="filled green" style="width: {{to_percent(guess.prob)}}">
                  {{guess.name}}: {{to_percent(guess.prob)}}
                </div>
              </div>
            {% endfor %}
        </div>
      </li>
    </ul>
  </div>
{% endblock %}
